body{
    background-color: pink;
}

a,p{
    color: green;
    text-decoration: none;
}

ul{
    list-style-type: square;
}

.headings{
    color: orange;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
span.sselect,em.sselect{
    color: red;
    font-size: 20px;
    font-style: italic;
}

li em{
    color: blue;
}

h5+h6{
    color: purple;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover{
    color: white;
    text-decoration: wavy;
}
h3:hover{
    color: blue;
}
#random{
    color:chocolate;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

li[class]{
    color: orange;
}